<!-- app.component.html 


<button class="toggle-button1" (click)="toggleSideBar()">☰</button>
<div class="sidebar" [ngClass]="{'sidebar-hidden': !isSideBarOpen, 'sidebar-visible': isSideBarOpen}">
    <div class="sidebar-header">
      <h2>Menu</h2>
      <button class="toggle-button2" (click)="toggleSideBar()">☰</button>
    </div>
    <ul class="menu">
      <li><a routerLink="/dashboard">Página Inicial</a></li>
      <li><a routerLink="/profile">Perfil</a></li>
      <li><a routerLink="/settings">Configurações</a></li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  -->
  <div class="container">
    <nav class="nav-menu">
        <ul class="lista">
          <li>
              <img class="image" src="../../../../assets/imgs/house-chimney-crack-solid.svg" />          
              <span>Home</span>
          </li>
          
        </ul>
        
    </nav>
  </div>