*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px 50px;
    flex-wrap: wrap;
    padding: 100px 50px;
    transform: translate(0, 50%);

    .card{
        position: relative;
        width: 350px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        box-shadow: 0 35px 80px rgba(0,0,0,.15);
        transition: 0.5s;

        background: transparent;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        color: #333;
        border: 2px solid #FFF;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0,05);
        transition: .6s cubic-bezier(.8,.5,.5,.8);
        

        &:hover{
          height: 310px;
        }

        &:hover .conteudo{
            top: 150px;
            height: 160px;
          }

        &:hover .caixaImg{
            top: -100px;
            scale: .75;
            box-shadow: 0 15px 45px rgba(0,0,0,.2);
          }

        .caixaImg{
            position: absolute;
            top: 20px;
            width: 300px;
            height: 200px;
            border-radius: 12px;
            background: #333;
            overflow: hidden;
            transition: .5s;

            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .conteudo{
            position: absolute;
            top: 250px;
            width: 100%;
            height: 35px;
            overflow: hidden;
            text-align: center;
            padding: 0 30px;
            transition: .5s;

            h2{
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 2.5rem;
                //font-size: 36px;
                text-align: center;
                color: transparent; /* Texto transparente */
                -webkit-text-stroke: 1px white; /* Borda branca de 2px */
                //text-stroke: 2px white; /* Borda branca de 2px */
                //text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); /* Sombreamento */
                padding: 10px;
                margin: 0;
            }
            p{
                text-align: left;
                margin-left: 30px;
            }
            a{
                display: inline-block;
                margin-top: 15px;
                padding: 10px 20px;
                text-decoration: none;
                transition: .5s;
                font-weight: 500;
                
                
                
                background: rgba( 255, 255, 255, 0.3 );
                color: #333;
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.50 );
                backdrop-filter: blur( 1px );
                -webkit-backdrop-filter: blur( 1px );
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );

                &:hover{
                    background: rgba(230,235,240,0.2);
                    transition: .5s;
                }
            }

        }
    }

}
