<section class="row">
    <article class="column" *ngFor="let item of pacienteList">
        <div class="card">
            <figure class="caixaImg">
                <img src="../../../../assets/imgs/LinkedIn-MRC.png">
            </figure>
            <div class="conteudo">
                <h2>{{item}}</h2>
                <p>Paciente</p>
                <p>Idade: 23 anos</p>
                <p>Ultima consulta: 19/10/2023</p>
                <a href="#">Mais sobre</a>
            </div>
        </div>
    </article>
</section>